{{- partial "header.html" . }}

<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
    {{- if .Params.tags }}
    <ul class="post-tags">
      {{- range .Params.tags }}
      {{- $href := print (absURL "tags/") (urlize .) }}
      <li><a href="{{ $href }}">{{ . }}</a></li>
      {{- end }}
    </ul>
    {{- end }}
  </header>
  <div class="post-content">
    {{- if .Params.changelog }}
    <section>
      <h1>更新履歴</h1>
      <ul>
      {{- range $date, $remark := .Params.changelog }}
        <li>{{ $date }}: {{ $remark }}</li>
      {{- end }}
      </ul>
    </section>
    {{- end }}
    {{ .Content }}
  </div>
</article>

{{- partial "footer.html" . }}
